@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Regular.woff2') format('woff2');
  font-display: block;
  font-weight: 400;
}

.body {
  font-family: 'RobotoMono';
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;  
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

.logo__big {
  font-size: 65px;
  line-height: 60px;
}

.hero__heading {
  font-size: 80px;
  line-height: 106px;
  font-weight: 400;
}